project:
  type: website
resources:
  - CNAME
website:

  title: "openstatsware"
  favicon: "sticker/openstatsware-hex.svg"
  site-url: "https://www.openstatsware.org"
  description: "Website for the `openstatsware' Working Group"

  navbar:
    background: "#f8f9fa"
    pinned: true
    title: false
    logo: "sticker/openstatsware-hex.svg"
    left:
      - href: index.qmd
        text: "Home"
      - text: "About Us"
        menu:
          - href: goals.qmd
          - href: people.qmd
          - href: sponsors.qmd
          - href: join_us.qmd
          - href: contact_us.qmd
      - href: news.qmd
        text: "News"
      - href: blog.qmd
        text: "Blog"
      - text: "Workstreams"
        menu:
          - href: mmrm_R_package.qmd
          - href: hta_page.qmd
          - href: bayesian_mmrm_R_package.qmd
          - href: ssd_package.qmd
      - href: presentations.qmd
        text: "Presentations"
      - href: hexwall.qmd
        text: "TaskView Hexwall"
    right:
      - icon: github
        href: https://github.com/RConsortium/asa-biop-swe-wg
      - icon: rss
        href: blog.xml

  # Giscus comments:
  comments:
    giscus:
      # Reference: https://quarto.org/docs/reference/projects/books.html#giscus
      # Also https://giscus.app/ for all options
      repo: RConsortium/asa-biop-swe-wg
      repo-id: "R_kgDOIEo72A"
      category: "Ideas"
      category-id: "DIC_kwDOIEo72M4CRqLG"
      reactions-enabled: true
      theme: light
      language: en
      loading: lazy
      mapping: pathname
      input-position: "top"

format:
  html:
    toc: true
    highlight-style: github
    theme:
      - html/openstatsware.scss

editor: visual
